@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

:root {
    --primary: #553E4E;
    --secondary: #9EBC9E;
    --accent: #E0479E;
    --neutral: #FFCFD2;
    --aux: #3b2326;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--neutral);
}

.container {
    margin: 50px auto;
    width: fit-content;
    text-align: center;
}

.scoreboard {
    background-color: var(--primary);
    padding: 50px 75px;
    border-radius: 20px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.home,
.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3 {
    color: var(--neutral);
    font-size: 40px;
    margin: 0;
}

.score {
    background-color: var(--aux);
    color: var(--accent);
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 90px;
    padding: 20px 30px 10px 30px; 
    border-radius: 5px;
    width: 100px;
    transition: 0.25s 0s;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 18px;
    background-color: unset;
    border: 2px solid var(--secondary);
    border-radius: 5px;
    color: var(--secondary);
    padding: 10px;
    transition: 0.125s 0s;

    &:hover {
        border: 2px solid var(--accent);
        color: var(--neutral);
        scale: .9;
    }

    &:active {
        background-color: var(--aux);
        border: 2px solid var(--accent);
        color: var(--neutral);
        scale: 1.1;
    }
}

.btn-ng {
    background-color: var(--primary);
    padding: 12px 24px 6px 24px;
    font-size: 24px;
    box-shadow: 1px 1px 5px var(--primary);
}

.highlight {
    box-shadow: 0px 0px 20px var(--accent);
    text-shadow: 0px 0px 10px var(--accent);
}