@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #eeeeee;
}

.container {
    margin: 50px auto;
    width: fit-content;
    text-align: center;
}

.scoreboard {
    background-color: #1B244A;
    padding: 50px 75px;
    border-radius: 20px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.home,
.guest {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h3 {
    color: #EEEEEE;
    font-size: 40px;
    margin: 0;
}

.score {
    background-color: #080001;
    color: #F94F6D;
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 90px;
    padding: 20px 30px 10px 30px; 
    border-radius: 5px;
    width: 100px;
    transition: 0.25s 0s;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    font-family: "Cursed Timer ULiL", sans-serif;
    font-size: 18px;
    background-color: unset;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    padding: 10px;
    transition: 0.125s 0s;

    &:hover {
        border: 2px solid #F94F6D;
        color: #eeeeee;
    }

    &:active {
        background-color: #080001;
        border: 2px solid #F94F6D;
        color: #eeeeee;
        scale: 1.2;
    }
}

.btn-ng {
    background-color: #1B244A;
    /* border: 2px solid #080001; */
    padding: 12px 24px 6px 24px;
    font-size: 24px;
    box-shadow: 1px 1px 5px #1B244A;
}

.highlight {
    box-shadow: 0px 0px 20px #F94F6D;
    text-shadow: 0px 0px 10px #F94F6D;
}